{% extends 'base.html.twig' %}

{% block title 'Eigenschaften Verwaltung' %}

{% block body %}
    <div class="container mt-4">
        <div class="mb-4 row">
            <h1 class="col-md-6 col-xs-12">Eigenschaften Verwalten</h1>
            <div class="text-right col-md-6 col-xs-12 mt-2">
                <a href="{{ path('admin.specification.new') }}" class="btn btn-success">Neue Eigenschaft Erstellen</a>
            </div>
        </div>

        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}

        <table class="table table-striped">
            <thead>
            <tr class="row">
                <th class="col-md-9 text-center">Name</th>
                <th class="col-md-3 text-center">Aktion</th>
            </tr>
            </thead>
            <tbody>
            {% for specification in specifications %}
            <tr class="row">
                <td class="col-md-9 ">{{ specification.name }}</td>
                <td class="col-md-3 text-center">
                    <a href="{{ path('admin.specification.edit', {id: specification.id}) }}" class="btn btn-info">Bearbeiten</a>
                    <form method="post" action="{{ path('admin.specification.delete', {id:specification.id}) }}" style="display: inline-block" onsubmit="return confirm('Sind Sie sicher?')">
                        <input type="hidden" name="_method" value="DELETE">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ specification.id) }}">
                        <button class="btn btn-danger">Löschen</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
