{% extends 'base.html.twig' %}

{% block title property.title %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            {% for message in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}

            {% if not form.vars.valid %}
                <div class="alert alert-danger">
                    Bitte überprüfen Sie, ob Ihr Formular korrekt ist
                </div>
            {% endif %}
            <div class="row">
                <div class="col-md-8">
                    {% if property.filename %}
                        <img class="card-img-top" src="{{ vich_uploader_asset(property, 'imageFile') | imagine_filter('medium') }}" >
                    {% else %}
                        <img class="card-img-top" src="{{ '/images/properties/empty.jpg' | imagine_filter('medium') }}" >
                    {% endif %}
                </div>
                <div class="col-md-4">
                    <h1>{{ property.title }}</h1>
                    <h2>{{ property.rooms }} Zimmer - {{ property.surface }} m² Fläche</h2>
                    <div class="text-primary" style="font-size: 4rem; font-weight: bold">{{ property.formattedPrice }} €</div>
                    <a href="#" class="btn btn-primary">Agentur Kontaktieren</a>
                    <div id="contactForm" class="mt-4">
                        {{ form_start(form) }}
                        <div class="row">
                            <div class="col">{{ form_row(form.firstname) }}</div>
                            <div class="col">{{ form_row(form.lastname) }}</div>
                        </div>
                        <div class="row">
                            <div class="col">{{ form_row(form.email) }}</div>
                            <div class="col">{{ form_row(form.phone) }}</div>
                        </div>
                        {{ form_rest(form) }}
                        <div class="form-group text-right">
                            <button class="btn btn-success">Anfrage senden</button>
                        </div>
                        {{ form_end(form) }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-4">
        
        <p>
            {{ property.description | nl2br }}
        </p>

        <div class="row">
            <div class="col-md-8">
                <h2>Kriterien </h2>
                <table class="table table-striped">
                    <tr>
                        <td>Whonfläche</td>
                        <td>{{ property.surface }}</td>
                    </tr>
                    <tr>
                        <td>Zimmer(n)</td>
                        <td>{{ property.rooms }}</td>
                    </tr>
                    <tr>
                        <td>Schlafzimmer(n)</td>
                        <td>{{ property.bedrooms }}</td>
                    </tr>
                    <tr>
                        <td>Etage(n)</td>
                        <td>{{ property.floor }}</td>
                    </tr>
                    <tr>
                        <td>Heizung</td>
                        <td>{{ property.heatType }}</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <h2>Besonderheiten</h2>
                <ul class="list-group">
                    {% for specification in property.specifications %}
                    <li class="list-group-item font-weight-bold">
                        <span style="color: Mediumslateblue;">
                            <i class="fa fa-plus"></i>
                        </span>
                        {{ specification.name }}
                    </li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    </div>
{% endblock %}


