<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}WellKommen!{% endblock %}</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.10/css/select2.min.css">

        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        <!--Apporter le css รก partir du webpack-->
        <link rel="stylesheet" href="{{ asset('build/app.css') }}">
        <!--Apporter le css leaflet-->
        <link rel="stylesheet" href="https://unpkg.com/leaflet@latest/dist/leaflet.css" />
        <!--Apporter le css slick pour carousel-->
        <link rel="stylesheet" type="text/css" charset="UTF-8" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" /> <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />

    </head>
    <body>
        <!--Navbar-->
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand" href="{{ path('home') }}">Meine Agentur</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link {% if current_menu is defined and current_menu == 'properties'%}active{% endif %}" href="{{ path('property.index') }}">Kaufen</a>
                    </li>
                </ul>
                {% if app.user %}
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="{{ path('admin.property.index') }}" class="nav-link font-weight-bold">
                            <span class="btn btn-outline-info" style="color: #000000;">
                                <i class="fa fa-database"></i>
                                Verwaltung
                            </span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="{{ path('logout') }}" class="nav-link font-weight-bold">
                            <span class="btn btn-outline-info" style="color: #000000;">
                                <i class="fa fa-user-times"></i>
                                Ausloggen
                            </span>
                        </a>
                    </li>
                </ul>

                {% else %}
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{{ path('login') }}" class="nav-link font-weight-bold">Einloggen</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
        </nav>
        <!--EndNavbar-->
        {% block body %}{% endblock %}
        {{ encore_entry_script_tags('app') }}
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" ></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


        <!--Apporter Js รก partir du webpack-->
        <script src="{{ asset('build/app.js') }}"></script>

        <!--Apporter le js du leaflet-->
        <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="crossorigin=""></script>
        <!--Apporter le js slick pour carousel-->
        <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
        {% block javascript %}{% endblock %}

    </body>
</html>
